#principal {
  position: absolute;
  height: 100%;
  width: 100%;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: flex-start
}
.sidebar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  flex-direction: column;
  width: 100px;
  height: 100%;
  background: white;
}

.title {
  font-size: 30px;
  font-weight: 500;
}

.form-rounded {
  border-radius: 2rem;
}
.back-card {
  border-radius: 40px !important;
  color: white;
  background: white;
}

.city-name {
  position: absolute;
  width: 100%;
}

.city-name p {
  font-weight: 400;
  font-size: 16pt;
}

.city-name span {
  position: relative;
  top: -50px;
  font-size: 40pt;
  font-family: "Times New Roman", Times, serif;
}

.temp span {
  font-weight: 100;
  font-size: 5em;
  letter-spacing: -5px;
  white-space: nowrap;
}
.card-mid {
  line-height: 0.5;
}
.condition {
  font-size: 1em;
  font-weight: 700;
  line-height: 1em;
  text-transform: capitalize;
}
.weather {
  color: rgb(8 0 78);
  margin-top: 30px
}
.card-bottom p {
  font-size: 50px;
  font-weight: 100;
  letter-spacing: -3px;
}
.card-bottom {
  line-height: 0.5;
}

.card-bottom span {
  font-size: 12px;
}

.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}
